
<%if @donation_locals.empty? %>
<p>Sua busca não resultou em nenhum local cadastrado </p>
<%else%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo de doação</th>
      <th>Endereço</th>
      <th>Tipo de local</th>
      <th>Site</th>
      <th>Telefone</th>


    </tr>
  </thead>

  <tbody>
    <% @donation_locals.each do |donation_local| %>
      <tr>
        <td><%= donation_local.name %></td>
        <td><%= donation_local.donation_type %></td>
        <td><%= "#{donation_local.street}-#{donation_local.neighborhood}-#{donation_local.city}-#{donation_local.state}" %></td>
        <td><%= donation_local.local_type %></td>
        <td><%= donation_local.site %></td>
        <td><%= donation_local.phone %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Voltar', search_new_path%>
