<p id="notice"><%= notice %></p>

<h1>Cadastre os locais de doações</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donation_locals.each do |donation_local| %>
      <tr>
        <td><%= link_to 'Ver', donation_local %></td>
        <td><%= link_to 'Editar', edit_donation_local_path(donation_local) %></td>
        <td><%= link_to 'Deletar', donation_local, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo local de doação', new_donation_local_path %>
